*.DS_Store
__pycache__/
*.py[cod]
*.egg-info
*.sqlite3
*.ropeproject
*.log
*.pid
*.sock
*.socket
collectstatic/
settings_custom.py
.idea/
.env/
.venv/
.vscode/
*.code-workspace
docker-compose.yml
login_required
celerybeat-schedule
id/lib/
id/share/
id/local/
id/bin/
id/include/
pip-selfcheck.json
var/
dump.rdb