/*main {
    margin-top: 60px;
    margin-bottom: 60px;
}*/

/*.page-sidebar .btn-title {
    color: #0072bc;
}

.page-sidebar .nav-pills li>a,
.page-sidebar .nav-pills li>a:visited {
    color: #606060;
    font-weight: 300;
}

.page-sidebar .nav-pills>li.active>a,
.page-sidebar .nav-pills>li.active>a:visited,
.page-sidebar .nav-pills>li.active>a:hover {
    color: #ffffff;
}*/
