{% extends "base.html" %}
{% load i18n static %}

{% block title %}{% trans 'Cambio de contraseña' %}{% endblock %}

{% block content %}
<section class="container-fluid container-id">
  <div class="row">
    <div class="container">
      <div class="row">
        <div class="col-lg-6 col-lg-offset-3 col-md-8 col-md-offset-2">
          {% include "_snippets/messages.html" %}
          <form method="post" action="{% url 'accounts:password-set' %}">
            {{ form.token }}
            {% csrf_token %}

            <div class="form-group">
              <fieldset>
                <legend>
                  <h1>{% trans 'Configurá tu contraseña.' %}</h1>
                  <p></p>
                </legend>
                <div class="row">
                  <div class="col-md-12">
                    <div class="form-group item-form {% if form.password.errors %}has-error{% endif%}">
                      <label class=" control-label" for="id_password">{{form.password.label}}</label>
                      <input name="password" id="id_password" type="password" class="form-control"
                        value="{% if form.errors %}{{form.password.value}}{% endif %}">
                      <span class="fa fa-fw fa-eye-slash input-icon" id="eye-password" onclick="viewpassword()"
                        alt="Mostrar Contraseña"></span>
                      {% if form.password.errors %}
                      {% for field in form.password.errors %}
                      <p class="help-block">{{ field }}</p>
                      {% endfor %}
                      {% endif %}
                    </div>
                    <div class="form-group item-form {% if form.password_confirmation.errors %}has-error{% endif%}">
                      <label class=" control-label"
                        for="id_password_confirmation">{{form.password_confirmation.label}}</label>
                      <input name="password_confirmation" id="id_password_confirmation" type="password"
                        class="form-control">
                      <span class="fa fa-fw fa-eye-slash input-icon" id="eye-password2" onclick="viewpassword()"></span>
                      {% if form.password_confirmation.errors %}
                      {% for field in form.password_confirmation.errors %}
                      <p class="help-block">{{ field }}</p>
                      {% endfor %}
                      {% endif %}
                    </div>
                  </div>
                </div>
                <button type="submit" class="btn btn-success">{% trans 'Ingresar' %}</button>
              </fieldset>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</section>
{% endblock %}

{% block script %}
<script>
function viewpassword() {
  var clave = document.getElementById('id_password')
  var clave2 = document.getElementById('id_password_confirmation')

  if (clave.type === 'password') {
    clave.type = 'text'
    clave2.type = 'text'
    document.getElementById('eye-password').classList.remove("fa-eye-slash")
    document.getElementById('eye-password2').classList.remove("fa-eye-slash")
    document.getElementById('eye-password').classList.add("fa-eye")
    document.getElementById('eye-password2').classList.add("fa-eye")
  } else {
    clave.type = 'password'
    clave2.type = 'password'
    document.getElementById('eye-password').classList.remove("fa-eye")
    document.getElementById('eye-password2').classList.remove("fa-eye")
    document.getElementById('eye-password').classList.add("fa-eye-slash")
    document.getElementById('eye-password2').classList.add("fa-eye-slash")
  }
}
</script>
{% endblock %}
