{% extends "sidebar.html" %}
{% load i18n static commontags %}

{% block title %}{% trans 'Cambiar Contraseña' %}{% endblock %}

{% block styles %}
    <style type="text/css">
        @media (min-width: 992px) {
            form {
                padding-left: 80px;
            }
        }
    </style>
{% endblock %}

{% block menu %}
    {% with "password_change" as active_tab %}
    {{ block.super }}
    {% endwith %}
{% endblock %}

{% block subcontent %}

    <form method="post">
        {% include "_snippets/messages.html" %}
        {% csrf_token %}
        <h3 class="margin-40">Cambiar contraseña</h3>
        <div class="form-group">
            <label for="password" class="control-label">{% trans 'Contraseña actual' %}</label>
            <input id="password" class="form-control" type="password" name="password" autofocus>
        </div>
        <div class="form-group">
            <label for="new_password" class="control-label">{% trans 'Nueva contraseña' %}</label>
            <input id="new_password" class="form-control" type="password" name="new_password">
        </div>
        <div class="form-group">
            <label for="new_password_2" class="control-label">{% trans 'Repetir contraseña' %}</label>
            <input id="new_password_2" class="form-control" type="password" name="new_password_again">
        </div>
        <div class="form-group">
            <button type="submit" class="btn btn-success btn-lg">{% trans 'Guardar los cambios' %}</button>
        </div>
    </form>

{% endblock %}

{% block script %}
    <script type="text/javascript">
        $(function() {
            var submitButton = $('button[type="submit"]');
            submitButton.click(function(event) {
                if (submitButton.hasClass('state-loading')) { event.preventDefault(); return; }
                submitButton.addClass('disabled').addClass('state-loading');
            });
        });
    </script>
{% endblock %}
