{% extends "base.html" %}
{% load i18n staticfiles %}

{% block title %}{% trans 'Cambio de contraseña' %}{% endblock %}

{% block content %}

<section class="container-fluid container-id">
  <div class="row">
    <div class="container">
      <div class="row">
        <div class="col-lg-6 col-lg-offset-3 col-md-8 col-md-offset-2">
          {% include "_snippets/messages.html" %}
          <h1>{% trans 'Creá una nueva contraseña' %}</h1>
          <p>{% trans 'Para ingresar debés crear una nueva contraseña' %}</p>

          <form method="post" action="{% url 'accounts:password-reset' %}">
            {% csrf_token %}
            <input type="hidden" name="token" value="{{ token }}">
            <div class="form-group">
              <fieldset>

                <div class="row">
                  <div class="col-md-12">

                    <div class="form-group item-form {%if error.password%}has-error{%endif%}">
                      <label for="password">{% trans 'Contraseña' %}</label>
                      <input id="password" class="form-control" type="password" name="password" autofocus
                        value="{% if not error.password %}{{ request.POST.password }}{% endif %}">
                      <!-- <span class="fa fa-fw fa-eye-slash input-icon" id="eye-password"
                                                onclick="viewpassword()" alt="Mostrar Contraseña"></span> -->
                      {% if error.password %}
                      <p class="error help-block">{{ error.password }}</p>
                      {% endif %}

                    </div>
                    <div class="form-group item-form {%if error.password_again or error.generic%}has-error{%endif%}">
                      <label for="password_again">{% trans 'Repetir contraseña' %}</label>
                      <input id="password_again" class="form-control" type="password" name="password_again">
                      <!-- <span class="fa fa-fw fa-eye-slash input-icon" id="eye-password2"
                                                onclick="viewpassword()"></span> -->
                      {% if error.password_again or error.generic %}
                      <p class="error help-block">{{ error.password_again }}</p>
                      {% endif %}
                      {% if error.generic%}
                      <p class="error help-block">{{ error.generic }}</p>
                      {% endif %}
                    </div>
                  </div>
                </div>
                <button type="submit" class="btn btn-success">{% trans 'CREAR NUEVA CONTRASEÑA' %}</button>
              </fieldset>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</section>

{% endblock %}
{% block script %}
<script src="{% static 'js/functions.js' %}"></script>
<script>

  /*function viewpassword() {
      var clave = document.getElementById('password')
      var clave2 = document.getElementById('password_again')

      if (clave.type === 'password') {
          clave.type = 'text'
          clave2.type = 'text'
          document.getElementById('eye-password').classList.remove("fa-eye-slash")
          document.getElementById('eye-password2').classList.remove("fa-eye-slash")
          document.getElementById('eye-password').classList.add("fa-eye")
          document.getElementById('eye-password2').classList.add("fa-eye")
      } else {
          clave.type = 'password'
          clave2.type = 'password'
          document.getElementById('eye-password').classList.remove("fa-eye")
          document.getElementById('eye-password2').classList.remove("fa-eye")
          document.getElementById('eye-password').classList.add("fa-eye-slash")
          document.getElementById('eye-password2').classList.add("fa-eye-slash")
      }

  }*/
  cleanFormErrors();
  $(".has-error").first().find("input").focus();
</script>
{%endblock%}
