{% extends "base.html" %}
{% load i18n %}

{% block title %}{% trans 'Nueva Contraseña' %}{% endblock %}

{% block content %}
<section class="container-fluid container-id">
    <div class="row">
      <div class="container">
        <div class="row">
          <div class="col-lg-6 col-lg-offset-3 col-md-8 col-md-offset-2">
            <fieldset>
              <legend>
                <h1>{% trans 'Revisá tu correo electrónico' %}</h1>
                <p class="m-b-2">{% trans 'Te va a llegar un correo electrónico a ' %} <strong>{{email}}</strong> {% trans 'con instrucciones para poder ingresar a tu cuenta.' %}</p>
                <a href="/" class="btn btn-link">{% trans 'Volver al inicio' %}</a>
              </legend>
            </fieldset>
          </div>
        </div>
      </div>
    </div>
  </section>

{% endblock %}
