{% extends "base.html" %}
{% load i18n staticfiles commontags %}

{% block title %}{% trans 'Recuperar contraseña' %}{% endblock %}

{% block content %}

<section class="container-fluid container-id">
    <div class="row">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 col-lg-offset-3 col-md-8 col-md-offset-2">
                    {% include "_snippets/messages.html" %}
                    <h1>{% trans 'Recuperá tu contraseña' %}</h1>
                    <form method="post" action="{% url 'accounts:password-reset' %}">
                        {% csrf_token %}

                        <div class="form-group item-form {%if error%}has-error{%endif%}">
                            <label
                                for="password_restore">{% trans 'Ingresá tu correo electrónico para generar una nueva contraseña' %}</label>
                            <input id="password_restore" class="form-control" type="email" name="email" autofocus
                                value="{%if error%}{{request.POST.email}}{%endif%}">
                            {% if error %}
                            <p class="error help-block">{{error}}</p>
                            {% endif %}
                        </div>
                        {% if recaptcha_enable %}
                        <div class="form-group">
                            <div class="g-recaptcha" data-sitekey="{% get_setting 'RECAPTCHA_KEY' %}">
                            </div>
                        </div>
                        {% endif %}

                        <button type="submit" class="btn btn-success">Enviar</button>

                        <div class="row">
                            <div class="col-md-12">
                                <a href="{%url 'accounts:login' %}" class="btn btn-link">Volver</a>
                            </div>
                        </div>


                    </form>
                </div>
            </div>
        </div>
    </div>
</section>


{% endblock %}

{% block script %}
{% if recaptcha_enable %}
<script src='https://www.google.com/recaptcha/api.js?hl=es-419'></script>
{% endif %}
<script src="{% static 'js/functions.js' %}"></script>
<script type="text/javascript">
    $(function () {
        var submitButton = $('button[type="submit"]');
        submitButton.click(function (event) {
            if (submitButton.hasClass('state-loading')) { event.preventDefault(); return; }
            submitButton.addClass('disabled').addClass('state-loading');
        });
    });
</script>
{% endblock %}